.icon-list {
	display: flex;
	justify-self: center;
	align-items: center;
  	justify-content: center;
}
.icon-list .icon-container {
	padding: 10px 10px;
	position: relative;
	cursor: pointer;
}
.icon-list .icon-container:not(:first-of-type) {
	margin-left: 25px;
}
.icon-list .icon-container .button {
	border-radius: 50%;
	background-color: #eaebed;
	box-shadow: 8px 8px 16px #d7d8da,
		-8px -8px 16px #fdfeff,
		inset 0 0 0 #ffffff00,
		inset 0 0 0 #ffffff00;
		
	transition: box-shadow 200ms ease-in;
}
.icon-list .icon-container svg {
	position: absolute;
	transition: color 200ms ease;
	color: #bebfc1;
}
