@import '../../assets/styles/colors';

.scene {
    display: block;
    padding: 6px 10px;
    border-radius: 6px;
    background: $charcoal;
    box-shadow: 6px 6px 14px #2f4350,
		-6px -6px 14px #2f4350,
		inset 0 0 0 #ffffff00,
		inset 0 0 0 #ffffff00;
    margin: 10px 0;
    transition: box-shadow 200ms ease-in-out;
    cursor: pointer;

    .name {
        color: $white;
        font-size: 12px;
        transition: color 200ms ease-in;
    }

    &:hover {
        box-shadow: 
            0px 0px 0px #ffffff00,
            0px 0px 0px #ffffff00,
            inset 3px 3px 8px #2f4350,
            inset -3px -3px 8px #354b5a;

        .name {
            color: $pink;
        }
    }
}