@import '../../assets/styles/colors';

.light {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 6px 10px;
    border-radius: 3px;
    background: #f8f8f8;
    box-shadow:
        2px 2px 7px #d7d8da,
        -2px -2px 7px #fdfeff,
        inset 0 0 0 #ffffff00,
        inset 0 0 0 #ffffff00;
    margin: 10px 0;
    transition: box-shadow 200ms ease-in-out;
    cursor: pointer;

    .light-state-badge {
        padding: 7px;
        border-radius: 50%;
        background-color: $white;
        display: grid;
        place-items: center;
        margin-right: 6px;

        svg {
            width: 22px;
            height: 22px;
            color: $muted-grey;
            transition: color 150ms ease-in;
        }
    }

    &.unreachable {
        cursor: not-allowed;

        .light-state-badge {
            background-color: #ffd4d4;
        }

        &:hover {
            .light-state-badge svg {
                color: $muted-grey;
            }
        }
    }

    &.active {
        .light-state-badge svg {
            color: $pink;
        }

        .light-details .name {
            color: $charcoal;
        }
    }

    &:hover {
        box-shadow: 
            2px 2px 7px #ffffff00,
            -2px -2px 7px #ffffff00,
            inset -2px -2px 7px #d7d8da,
            inset -2px -2px 7px #fdfeff;
        
        &.unreachable {
            box-shadow:
                2px 2px 7px #d7d8da,
                -2px -2px 7px #fdfeff,
                inset 0 0 0 #ffffff00,
                inset 0 0 0 #ffffff00;
        }

        .light-state-badge svg {
            color: $pink;
        }
    }

    .light-details {
        color: $charcoal;
        font-size: 12px;
        font-weight: 200;
        transition: color 200ms ease-in;

        .name {
            font-size: 12px;
            font-weight: 400;
            display: block;
        }
    }
}
