@import '../../assets/styles/colors';

.scene {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    border-radius: 3px;
    background: #f8f8f8;
    box-shadow: 2px 2px 7px #d7d8da, -2px -2px 7px #fdfeff, inset 0 0 0 #ffffff00,
        inset 0 0 0 #ffffff00;
    transition: box-shadow 200ms ease-in-out;
    cursor: pointer;

    .scene-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: max-content;

        .name {
            color: $charcoal;
            font-size: 12px;
            transition: color 200ms ease-in;
        }

        .activate-badge {
            padding: 7px;
            border-radius: 50%;
            background-color: $white;
            display: grid;
            place-items: center;
            margin-right: 6px;

            svg {
                width: 22px;
                height: 22px;
                color: $muted-grey;
                transition: color 150ms ease-in;
            }
        }
        &:hover .activate-badge svg {
            color: $pink;
        }
        &:hover .name {
            color: $pink;
        }
    }

    .icon-container {
        color: $muted-grey;
        transition: color 200ms ease-in-out;

        &:hover {
            color: $pink;
        }

        &.favorited {
            color: $pink;

            &:hover {
                color: $muted-grey;
            }
        }
    }

    &:hover {
        box-shadow: 2px 2px 7px #ffffff00, -2px -2px 7px #ffffff00, inset -2px -2px 7px #d7d8da,
            inset -2px -2px 7px #fdfeff;
    }
}
