.greeting-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}
.digital-clock {
    font-size: 7rem;
    font-weight: 700;
}
.greeting {
    font-size: 4rem;
    font-weight: 200;
}

@media (max-width: 575.98px) {
    .digital-clock {
        font-size: 4rem;
    }
    .greeting {
        font-size: 2rem;
    }
}
